@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */

@keyframes moveDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-moveDown {
    animation: moveDown 1s ease-out;
  }
  